<arm-header></arm-header>
<div class="content" role="main">
  <!-- Content starts here -->
  <div>
    <div class="font-medium accent-black">Hello, it's me</div>
    <h1 class="content-name">Sangay <span class="content-name--dot md:-ml-3 xs:-ml-2">.</span></h1>

    <p class="font-medium">
      An enthusiastic software developer currently shaping the future of software development by
      designing and implementing smooth user-interfaces that promote user interaction with information and data. While
      exploring S.O.T.A. frameworks and libraries around
      the world.
    </p>
    <h1 style="transform: translate3d(0px, 57px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
        class="font-medium italic">Software Developer</h1>
  </div>
  <!-- Content ends here -->
</div>
<arm-footer></arm-footer>
