/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/common';
@use 'assets/styles/variables';
@use 'assets/styles/font';
@use 'assets/styles/utility';

:root {
  --mode: day;
}

@media (prefers-color-scheme: dark) {
  :root {
    --mode: dark;
  }
}

* {
  font-family: variables.$regular-font;
}

p {
  font-family: variables.$thin-font;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
