:host {
  font-family: Gtwalsheimprotrial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  height: fit-content;

  &-name {
    position: relative;
    font-size: 6.5em;
    margin: 0;

    &--dot {
      color: #5f99ff;
    }
  }

  &--image {
    width: 360px;
    height: 360px;
  }
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles -- include below */

@media screen and (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    margin: 4em 1.5em 6em;

    &-name {
      font-size: 3.5em;
    }
  }
}
