:host {
  font-family: Gtwalsheimprotrial, sans-serif;
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.content {
  height: fit-content;
  display: flex;
  margin: 5em auto 7em;
  max-width: 560px;
  flex-direction: column;
  align-items: center;

  &-name {
    position: relative;
    font-size: 6.5em;
    margin: 0;

    @media screen and (max-width: 480px) {
      font-size: 4em;
    }

    &--dot {
      color: #5f99ff;
    }
  }
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

/* Responsive Styles -- include below */

@media screen and (max-width: 480px) {
  .content {
    height: fit-content;
    display: flex;
    margin: 4em 1.5em 6em;

    &-name {
      font-size: 4em;
    }
  }
}

.to-be--closed {
//  okay test
}
