@font-face {
  font-family: 'GTWalsheimPro-Regular';
  src: url('assets/fonts/GTWalsheimPro-Regular.ttf?#iefix') format('truetype');
}

@font-face {
  font-family: 'GTWalsheimPro-Thin';
  src: url('assets/fonts/GTWalsheimPro-Thin.ttf?#iefix') format('truetype');
}
