@font-face {
  font-family: 'GTWalsheimPro-Regular';
  src: url('../fonts/GTWalsheimPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GTWalsheimPro-Thin';
  src: url('../fonts/GTWalsheimPro-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'GTWalsheimPro-Bold';
  src: url('../fonts/GTWalsheimPro-Bold.ttf') format('truetype');
}
