/* Color Variables */
$accent-color: #EE742B;
$porcelain-gray: #F3F5F6;
$smoke-white: #F5F5F5;
$light-cyan: #E7F8FD;
$faint-primary-bg: #EAF2F2;
$warn-color: #C62828 !default;
$white-color: #FFFFFF;
$white-fade: #F0EEF3;
$black-color: #000000;
$dove-gray: #636262;
$success-color: #11AA44 !default;
$gold-color: #FFC008 !default;
$info-color: #5E94C5;
$mild-gray: #F2F2F2;
$boulder-color: #757575;
$dusty-gray: #9B9B9B;
$silver-color: #CCCCCC;
$alto-gray: #E0E0E0;
$athens-gray: #EEEEEE;
$albaster-gray: #FAFAFA;
$rich-black: #00000099;

/* Fonts */
$regular-font: 'GTWalsheimPro-Regular', sans-serif;
$thin-font: 'GTWalsheimPro-Thin', sans-serif;

// Media query -- if required**
//$breakpoints: (
//  xs: 'screen and (max-width: 599px)',
//  sm: 'screen and (min-width: 600px) and (max-width: 959px)',
//  md: 'screen and (min-width: 960px) and (max-width: 1279px)',
//  lg: 'screen and (min-width: 1280px) and (max-width: 1919px)',
//  xl: 'screen and (min-width: 1920px) and (max-width: 5000px)',
//  lt-sm: 'screen and (max-width: 599px)',
//  lt-md: 'screen and (max-width: 959px)',
//  lt-lg: 'screen and (max-width: 1279px)',
//  lt-xl: 'screen and (max-width: 1919px)',
//  gt-xs: 'screen and (min-width: 600px)',
//  gt-sm: 'screen and (min-width: 960px)',
//  gt-md: 'screen and (min-width: 1280px)',
//  gt-lg: 'screen and (min-width: 1920px)'
//) !default;
