/* Color Variables */
$accent-color: #EE742B;
$porcelain-gray: #F3F5F6;
$smoke-white: #F5F5F5;
$light-cyan: #E7F8FD;
$faint-primary-bg: #EAF2F2;
$warn-color: #C62828 !default;
$white-color: #FFFFFF;
$white-fade: #F0EEF3;
$black-color: #000000;
$dove-gray: #636262;
$success-color: #11AA44 !default;
$gold-color: #FFC008 !default;
$info-color: #5E94C5;
$mild-gray: #F2F2F2;
$boulder-color: #757575;
$dusty-gray: #9B9B9B;
$silver-color: #CCCCCC;
$alto-gray: #E0E0E0;
$athens-gray: #EEEEEE;
$albaster-gray: #FAFAFA;
$rich-black: #00000099;

/* Fonts */
$bold-font: 'GTWalsheimPro-Bold', sans-serif;
$regular-font: 'GTWalsheimPro-Regular', sans-serif;
$thin-font: 'GTWalsheimPro-Thin', sans-serif;
